@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/source-code-pro-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/source-code-pro-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/source-code-pro-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/source-code-pro-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('./fonts/source-code-pro-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/source-code-pro-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 700;
    src: local(''),
         url('./fonts/source-code-pro-v20-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/source-code-pro-v20-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --base: #1E1E2E;
    --surface: #302D41;
    --text: #D9E0EE;
    --love: #ABE9B3;
    --rose: #F28FAD;
    --pine: #96CDFB;
    font-size: 62.5%;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--base);
}

pre,code,pre p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text);
}

::-moz-selection {
    background: #302D41;
    color: var(--text);
}

::selection {
    background: #302D41;
    color: var(--text);
}

h1,h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;
}

h1,section h1 {
    font-size: 5.1842rem;
}

h2,section h2 {
    font-size: 3.22rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--love);
}

strong {
    font-weight: 500;
}

a {
    color: var(--pine);
}

code {
    font-family: 'Source Code Pro', monospace;
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    padding: 8rem 4rem;
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 700px) {
    #hero {
        padding: 12rem;
    }
}

@media (min-width: 1000px) {
    #hero {
        flex-direction: row;
    }
}

@media (min-width: 800px) {
    .intro {
        max-width: 40vw;
    }
}

.terminal {
    max-width: 100vh;
    padding: 4rem;
    border-radius: 16px;
    background: var(--surface);
    color: var(--text);
}

.terminal a {
    color: var(--rose);
}

.terminal strong {
    color: var(--love);
}

@media (min-width: 400px) {
    .terminal {
        padding-right: 8rem;
    }
}

@media (min-width: 500px) {
    .terminal {
        padding-right: 20rem;
    }
}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: var(--base);}
::-webkit-scrollbar-thumb {background: var(--surface);}
